<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049324260711-n9o02mfujdcbpqk5h9itlln6t12lqufh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049324260711-n9o02mfujdcbpqk5h9itlln6t12lqufh</string>
	<key>API_KEY</key>
	<string>AIzaSyB1us4WwsO4788iCNjubm43crivAqIXDhE</string>
	<key>GCM_SENDER_ID</key>
	<string>1049324260711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginpage</string>
	<key>PROJECT_ID</key>
	<string>loginauth-4c935</string>
	<key>STORAGE_BUCKET</key>
	<string>loginauth-4c935.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049324260711:ios:a81b3f88f7a5f35e9773c2</string>
	<key>DATABASE_URL</key>
	<string>https://loginauth-4c935-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>